@charset "UTF-8";
@charset 'iso-8859-15';
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

* {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clear:after {
    content: '';
    clear: both;
    display: block;
}

input[type="text"]:focus {
    outline: none;
}

select:focus,
input:focus,
button:focus,
textarea:focus {
    outline: none;
}

html {
    background: #fff;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
    color: #3A386B;
    line-height: 25px;
    font-family: 'robotoregular';
    background: #FBFAFE;
}

section {}

p {
    line-height: 25px;
    color: rgba(58, 56, 107, 0.7);
}

a {
    line-height: 100%;
}

a:hover {
    text-decoration: none;
}

a:active,
a:hover,
a:focus {
    outline: 0;
}

span {
    line-height: 100%;
}

.bold {}

li {
    line-height: 100%;
}

.txt p {}

.txt a {}

.txt span {}

.txt li {}

h3,
h4,
h5,
h6 {
    font-weight: 100;
    line-height: 100%;
    margin: 0;
    font-family: 'montserratbold';
    color: #3A386B;
}

h1,
h2 {
    font-weight: 100;
    line-height: 100%;
    margin: 0;
    font-family: 'montserratbold';
    color: #3A386B;
    font-size: 40px
}

ul {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    border-radius: 6px;
}

th,
td {
    border: 0;
    text-align: left;
    padding: 20px 25px;
    font-weight: 100;
    white-space: nowrap;
}

th:last-child,
td:last-child {
    border-right: 0;
}

th:first-child,
td:first-child {}

a,
button {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.transform {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.transform-top {
    position: absolute;
    top: 50%;
    left: 0;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.transform-left {
    position: absolute;
    top: 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}

.img {
    line-height: 0;
}

.container {
    width: 1010px;
    margin: 0 auto;
}

#wrapper {}

a.btn,





.btn {
    height: 67px;
    width: 287px;
    opacity: 1;
    border-radius: 33.5px;
    background: linear-gradient(232.79deg, #AE6EE3 0%, #383FB5 100%);
    box-shadow: 0 8px 11px 0 rgba(57, 93, 234, 0.21);
    font-family: 'montserratbold';
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: block;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.smoll {
    width: 177px;
}

a.btn:hover,
.btn:hover {
    box-shadow: 0 8px 21px 0 rgba(57, 93, 234, 0.41);
}

.fadeEl {
    opacity: 0;
    -webkit-transform: translateY(30%);
    -moz-transform: translateY(30%);
    -ms-transform: translateY(30%);
    -o-transform: translateY(30%);
    transform: translateY(30%);
    -webkit-transition: opacity 3s ease, transform 3.2s ease-in-out;
    -moz-transition: opacity 3s ease, transform 3.2s ease-in-out;
    transition: opacity .5s ease, transform .8s ease-in-out;
}

.fadeEl.anim {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
    animation-play-state: paused !important;
}


/*================*/


/*====loader======*/


/*================*/

#loader {
    background: #fff;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}

#cube-loader {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
}

#cube-loader svg {
    width: 100%;
    height: 50%;
}


/*End Loader*/

#nav-fix {
    border-radius: 33.5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 23px;
    padding: 0 6px;
    z-index: 8;
}

#nav-fix .flex {
    align-items: inherit;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 6px 0;
}

.logo span {
    display: block;
    position: relative;
}

.logo .moon-ico {
    height: 56px;
    z-index: 2;
}

.logo .moon-logo {
    left: -7px;
    animation: moonlogo 1.7s cubic-bezier(0, 0.34, 0.58, 1.22) forwards;
    top: 2px;
}

@keyframes moonlogo {
    0% {
        left: -100%;
        opacity: 0;
    }
    40% {
        opacity: 0.5;
    }
    80% {
        left: 8px;
        opacity: 1
    }
    100% {
        left: -7px;
        opacity: 1
    }
}


/*MENU*/

#menu {}

#menu .menu {
    height: 100%;
    display: block;
    padding-right: 40px;
}

#menu .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    position: relative;
}

#menu .menu li {
    list-style: none;
    margin-left: 25px;
    height: 100%;
}

#menu .menu li.active {
    margin-left: 0;
}

#menu .menu li a {
    text-decoration: none;
    color: #9492B6;
    font-family: 'montserratregular';
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all .33s linear;
    -webkit-transition: all .33s linear;
    position: relative;
    line-height: 14px;
}

#menu .menu li a.active,
#menu .menu li a:hover {
    color: #3A386B;
}
#menu .menu li a svg{
    fill:#9492B6;
    width: 20px;
    height: 100%;
}
#menu .menu li a.active svg, #menu .menu li a:hover svg{
    fill:#3A386B
}

#menu .menu li a.active:after,
#menu .menu li a:hover:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(232.79deg, #AE6EE3 0%, #383FB5 100%);
    position: absolute;
    bottom: 0;
}


/*ico-menu*/

.hamburger-menu {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.hamburger-menu .bar {
    width: 25px;
    height: 2px;
}

.hamburger-menu .bar:nth-child(2) {
    position: relative;
    transform: translateY(11px);
    background: #000;
    transition: background 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.59), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu .bar:nth-child(2).animate {
    background: rgba(255, 255, 255, 0) !important;
}

.hamburger-menu .bar:nth-child(3) {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    transition: background 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.59), bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu .bar:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    transition: background 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.59), top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu .bar:nth-child(1).animate {
    top: 11px;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 26px;
    background: #fff;
}

.hamburger-menu .bar:nth-child(3).animate {
    bottom: 12px;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 26px;
    background: #fff;
}

@keyframes photos-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes photos-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.photos-in {
    animation-name: photos-in;
    -webkit-animation-name: photos-in;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

.cd-nav-trigger {
    position: relative;
    width: 25px;
    height: 100%;
    z-index: 100;
    display: none;
}

@media screen and (max-width: 950px) {
    .cd-nav-trigger {
        display: block;
    }
    #menu .menu {
        padding: 20px;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: .8s;
        transition-duration: .8s;
        z-index: 99;
        right: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        overflow: auto;
        background: #3b743e;
        top: -100%;
        background-size: cover;
        border-radius: 0;
        padding-top: 80px;
    }
    #menu.menu-open .menu {
        opacity: 1;
        visibility: visible;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: .8s;
        transition-duration: .8s;
        right: 0;
        top: 0;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/*.moon-animation*/

.moon-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.rocket {
    position: absolute;
    width: 500px;
    height: 500px;
    animation-name: spin;
    animation: spin 7s linear infinite;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 700px) {
    .rocket {
        width: 250px;
        height: 250px;
    }
    #moon {
        width: 40%;
    }
}

.astronaut-animation {
    position: relative;
    width: 435px;
}

.astronaut-animation .astronaut {
    position: absolute;
    top: 49px;
    left: 0;
    z-index: 2;
    animation: astronaut 5s linear infinite;
    height: 110px;
}

@keyframes astronaut {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(9deg) scale(1.1);
        transform: rotate(9deg) scale(1.1);
    }
    50% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg);
    }
    75% {
        -webkit-transform: rotate(9deg) scale(1.1);
        transform: rotate(9deg) scale(1.1);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

.astronaut-animation .path {
    left: 76px;
    top: 41px;
    z-index: 1;
    position: relative;
}

.astronaut-animation .shattle {
    position: absolute;
    right: -22px;
    top: 2px;
    z-index: 2;
    animation: spin 5s linear infinite;
}

.main-title {
    text-align: center;
    position: relative;
    margin-bottom: 45px;
}

.main-title .tit-big {
    opacity: 0.05;
    color: #3A386B;
    font-size: 120px;
    letter-spacing: 1.5px;
    line-height: 167px;
    font-family: 'montserratbold';
    position: absolute;
    width: 100%;
    left: 0;
    top: -35px;
}

.main-title h2 {
    margin-bottom: 15px;
}

.main-title h2:after {
    content: '';
    display: block;
    background: #6165C4;
    width: 88px;
    height: 3px;
    margin: 13px auto 0;
}

.main-title p {
    opacity: 0.7;
    font-size: 16px;
}


/*---------------------*/


/*  about              */


/*---------------------*/

#about {
    padding-top: 80px;
}

#about .about {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#about .about .tit-price {
    opacity: 0.05;
    color: #3A386B;
    font-size: 120px;
    letter-spacing: 1.5px;
    line-height: 167px;
    font-family: 'montserratbold';
    position: absolute;
    width: 100%;
    left: 0;
    top: -100px;
}

#about .about .about_item {
    width: 230px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    background-color: #FFFFFF;
    padding-top: 28px;
    position: relative;
    padding-bottom: 60px;
    min-height: 210px;
}

#about .about h3 {
    opacity: 0.7;
    font-family: 'robotoregular';
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 18px;
}

#about .about .price {
    font-family: 'montserratbold';
    color: #3A386B;
    font-size: 40px;
    line-height: 40px;
}

#about .about .btn-block {
    position: absolute;
    width: 100%;
    bottom: -23px;
}

#about .about .btn {
    width: 177px;
    height: 59px;
    margin: 0 auto;
}

#about .about .btn .ico {
    margin-right: 10px;
    position: relative;
    top: 3px;
    transform: rotate(40deg);
}

#about .about .btn img {
    transform: rotate(-42deg);
}

#about .about .btn span {
    height: 8px;
    width: 1px;
    background: #fff;
    display: block;
    border-radius: 50px;
    position: absolute;
}

#about .about .btn .line-1 {
    left: 7px;
    top: 18px;
    animation: lineabout1 1.3s linear infinite;
}

@keyframes lineabout1 {
    0% {
        top: 18px;
    }
    25% {
        top: 20px;
    }
    50% {
        top: 18px;
    }
    75% {
        top: 22px;
    }
    100% {
        top: 18px;
    }
}

#about .about .btn .line-2 {
    left: 10px;
    top: 20px;
    animation: lineabout2 1.3s linear infinite;
}

@keyframes lineabout2 {
    0% {
        top: 20px;
    }
    25% {
        top: 23px;
    }
    50% {
        top: 20px;
    }
    75% {
        top: 25px;
    }
    100% {
        top: 20px;
    }
}

#about .about .btn .line-3 {
    left: 14px;
    top: 19px;
    animation: lineabout3 1.3s linear infinite;
}

@keyframes lineabout3 {
    0% {
        top: 19px;
    }
    25% {
        top: 23px;
    }
    50% {
        top: 19px;
    }
    75% {
        top: 26px;
    }
    100% {
        top: 19px;
    }
}

#about .about .btn p {
    font-family: 'montserratbold';
    font-size: 16px;
    color: #fff;
}


/*---------------------*/


/*  #services          */


/*---------------------*/

#services {
    position: relative;
    margin-top: 130px;
    margin-bottom: -415px;
    z-index: 2;
}

#services .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#services .services_item {
    width: 230px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 28px;
    text-align: center;
    padding: 40px 0 44px;
}

#services .services_item .ico {
    height: 75px;
    width: 75px;
    border-radius: 45px;
    background: linear-gradient(232.79deg, #AE6EE3 0%, #383FB5 100%);
    box-shadow: 0 8px 11px 0 rgba(57, 93, 234, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#services .services_item h3 {
    opacity: 0.7;
    color: #3A386B;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
    font-family: 'robotoregular';
}

#services .astronaut-animation {
    position: absolute;
    top: -25px;
}

#services .astronaut {}

#services .path {}

#services .shattle {}

#services .moon-animation {
    position: absolute;
    top: 220px;
    right: 0;
    width: 232px;
    height: 227px;
    line-height: 0;
    z-index: 2;
}

#services #moon {
    width: 140px;
    height: 140px;
    animation: spin 27s linear infinite;
}

#services .rocket {
    width: 180px;
    height: 180px;
}


/*---------------------*/


/*  #benefits          */


/*---------------------*/

#benefits {
    padding-bottom: 150px;
    background: linear-gradient(180deg, #AE6EE3 0%, #383FB5 100%);
    position: relative;
    padding-top: 495px;
    overflow: hidden;
}

#benefits .main-title h2 {
    color: #fff;
}

#benefits .main-title h2:after {
    background: #fff;
}

#benefits .main-title p {
    color: #fff;
}

#benefits .benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

#benefits .benefits_item {
    display: flex;
    align-items: center;
    margin: 0 13px 35px;
}

#benefits .benefits_item .img {
    background: url(../img/moon/moon.svg) no-repeat center;
    width: 83px;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    margin-right: 14px;
    position: relative;
}

#benefits .benefits_item h3 {
    opacity: 0.7;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 25px;
    font-family: 'robotoregular';
}


/*---------------------*/


/*  #projects          */


/*---------------------*/

#projects {
    position: relative;
    z-index: 2;
    margin-top: -20px;
}

#slider-projects {}

#slider-projects .swiper-slide {
    opacity: 0.3;
    padding: 25px 0;
    margin-top: -20px;
    width: 1010px;
}

#slider-projects .swiper-slide-active {
    opacity: 1;
    width: 1010px;
}

#slider-projects .swiper-slide-next,
#slider-projects .swiper-slide-prev {}

#slider-projects .projects_item {
    display: flex;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow: hidden;
}

#slider-projects .projects_item .img {
    width: calc(100% - 325px);
    overflow: hidden;
}

#slider-projects .projects_item .img img {
    max-width: 100%;
}

#slider-projects .projects_item .txt {
    width: 325px;
    padding: 45px 50px 50px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
}

#slider-projects .projects_item .projects_name {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 15px;
}

#slider-projects .projects_item .projects_tag {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}

#slider-projects .projects_item .projects_tag span {
    background-color: #F2F0F6;
    border-radius: 15px;
    display: flex;
    text-align: center;
    padding: 0 15px;
    height: 30px;
    margin-bottom: 7px;
    align-items: center;
    justify-content: center;
    color: rgba(58, 56, 107, 0.7);
    font-size: 12px;
    line-height: 12px;
    margin-right: 7px;
    font-family: 'robotoregular';
}

#slider-projects .projects_item p {
    font-size: 16px;
    color: rgba(58, 56, 107, 0.7);
}

#slider-projects .swiper-button-next,
#slider-projects .swiper-button-prev {
    width: 98px;
    height: 98px;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(232.79deg, #AE6EE3 0%, #383FB5 100%);
    border-radius: 50%;
    box-shadow: 0 8px 11px 0 rgba(57, 93, 234, 0.21);
    opacity: 0.5;
    margin-top: -45px;
}

#slider-projects .swiper-button-next:hover,
#slider-projects .swiper-button-prev:hover {
    opacity: 1;
}

#slider-projects .swiper-button-next:before,
#slider-projects .swiper-button-prev:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    background: url(../img/ico/arrow-right.svg) no-repeat center center;
    background-size: 18px;
    top: 1px;
    left: 4px;
}

#slider-projects .swiper-button-prev:before {
    transform: rotate(180deg);
    left: -3px;
}


/*---------------------*/


/*  #faq               */


/*---------------------*/

#faq {
    margin-top: 67px;
    margin-bottom: 80px;
}

#faq .container {
    position: relative;
    z-index: 2;
}

.faq-accordion {}

.faq-accordion .title {
    margin-bottom: 40px;
}

.faq-accordion .item .title {
    margin-bottom: 0;
    width: calc(100% - 70px);
}

.faq-accordion .item {
    padding: 0 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: #fff;
    margin-bottom: 10px;
}

.faq-accordion .item:last-child {
    border-bottom: 0;
}

.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    cursor: pointer;
    position: relative;
    background: transparent;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-accordion .swiper-slide-active .item,
.faq-accordion .item:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

.panel .panel-txt {
    padding: 0;
    opacity: 1 !important;
}

.panel .panel-txt p {
    margin: 0;
    color: rgba(58, 56, 107, 0.7);
}

.accordion .title h3 {
    font-size: 18px;
    line-height: 22px;
}

.accordion .number {
    width: 54px;
    height: 54px;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(232.79deg, #AE6EE3 0%, #383FB5 100%);
    border-radius: 50%;
    box-shadow: 0 8px 11px 0 rgba(57, 93, 234, 0.21);
}

.accordion .number:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    background: url(../img/ico/arrow-right.svg) no-repeat center center;
    background-size: 13px;
    transform: rotate(90deg);
    top: 1px;
    left: 1px;
}

.swiper-slide-active .item .number:before {
    transform: rotate(-90deg);
}

.item.active .number:before {
    transform: rotate(-90deg);
}

.faq-block {
    margin-bottom: 50px;
}

.panel {
    display: none;
    opacity: 1 !important;
    width: 100% !important;
    padding-bottom: 40px;
}


/*---------------------*/


/*  #contacts          */


/*---------------------*/

#contacts {
    position: relative;
    margin-bottom: -565px;
    z-index: 2;
}

#contacts .contacts {
    display: flex;
    justify-content: space-between;
    background-color: #3A386B;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

#contacts .form-block {
    border-radius: 20px;
    background: #fff;
    width: 670px;
    position: relative;
    left: -1px;
    padding: 65px 60px 55px;
}

#contacts .form-block .item-form {
    margin-bottom: 15px;
}

#contacts .form-block .input-form {
    border: 4px solid #F1EFF2;
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 100% !important;
    height: 85px;
    padding: 0 35px;
    font-family: 'robotoregular';
    font-size: 16px;
    line-height: 25px;
    color: rgba(58, 56, 107, 0.7);
}

#contacts .form-block textarea.input-form {
    height: 150px;
    padding-top: 35px;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    font-family: 'robotoregular';
    font-size: 16px;
    line-height: 25px;
    color: rgba(58, 56, 107, 0.7);
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    font-family: 'robotoregular';
    font-size: 16px;
    line-height: 25px;
    color: rgba(58, 56, 107, 0.7);
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    font-family: 'robotoregular';
    font-size: 16px;
    line-height: 25px;
    color: rgba(58, 56, 107, 0.7);
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    font-family: 'robotoregular';
    font-size: 16px;
    line-height: 25px;
    color: rgba(58, 56, 107, 0.7);
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    font-family: 'robotoregular';
    font-size: 16px;
    line-height: 25px;
    color: rgba(58, 56, 107, 0.7);
}

textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#contacts .form-block .btn-block {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

#contacts .contacts-block {
    width: calc(100% - 670px);
    padding: 65px 60px 55px;
}

#contacts .contacts-block .main-title {
    margin-bottom: 30px;
}

#contacts .contacts-block h2 {
    color: #fff;
}

#contacts .contacts-block h2:after {
    display: none;
}

#contacts .contacts-block .social-networks {}

.social-networks ul {
    list-style: none;
}

.social-networks li {
    margin-bottom: 35px;
}

.social-networks a {
    text-decoration: none;
    font-family: 'robotoregular';
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
}

.social-networks a:hover {
    color: #fff;
}

#contacts .contacts-block .social-networks a .img {
    margin-right: 20px;
    width: 23px;
    text-align: center;
    display: block;
}


/*---------------------*/


/*  footer             */


/*---------------------*/

footer {
    background: linear-gradient(180deg, #AE6EE3 0%, #383FB5 100%);
    padding-top: 635px;
    position: relative;
    overflow: hidden;
}

footer .bg-mask.bg-top {
    top: 0px;
    transform: scale(-1, 1);
}

#ps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#ps .img {
    margin: 0 30px 40px;
}

.footer {
    border-top: 1px solid #3A386B;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .logo {
    padding: 0;
}

.footer .terms-use {
    font-size: 12px;
    color: #fff;
    font-family: 'montserratregular';
}

.bg-mask {
    position: absolute;
    width: 100%;
    line-height: 0;
}

.bg-mask.bg-top {
    top: 0;
    left: 0;
}

.bg-mask.bg-bot {
    bottom: -45px;
}

.bg-mask img {
    width: 102%;
    position: relative;
    left: -1%;
}

.bg-mask.bg-dark {
    top: 270px;
    animation: bgdark 11s linear infinite;
}

@keyframes bgdark {
    0% {
        top: 270px;
        left: 0;
        transform: scale(1)
    }
    25% {
        top: 260px;
        left: -15px;
        transform: scale(1.1) rotate(-5deg)
    }
    50% {
        top: 270px;
        left: 0;
        transform: scale(1.1)
    }
    75% {
        top: 250px;
        left: -18px;
        transform: scale(1)
    }
    100% {
        top: 270x;
        left: 0;
        transform: scale(1)
    }
}

.bg-mask.bg-white {
    bottom: -160px;
    animation: bgwhite 8s linear infinite;
}

@keyframes bgwhite {
    0% {
        bottom: -160px;
        left: 0;
        transform: scale(1)
    }
    25% {
        bottom: -100px;
        left: -15px;
        transform: scale(1)
    }
    50% {
        bottom: -70px;
        left: 0;
        transform: scale(1)
    }
    75% {
        bottom: -140px;
        left: -18px;
        transform: scale(1)
    }
    100% {
        bottom: -160px;
        left: 0;
        transform: scale(1)
    }
}

.bg-mask.bg-white-revarse {
    transform: scale(1, -1);
    bottom: -303px;
}

header {
    height: 100vh;
    min-height: 700px;
    position: relative;
}

header .container {
    height: 100%;
    position: relative;
}

header .header_txt {
    height: 100%;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 90px;
}

header .header_txt .txt {
    position: relative;
    z-index: 1;
}

header .header_txt .txt h1 {
    line-height: 49px;
}

header .header_txt .txt p {
    opacity: 0.7;
    color: #B8B8C6;
    margin: 10px 0 25px;
}

header .header_bottom {
    display: flex;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 75px;
    padding: 23px 70px;
    width: 500px;
    z-index: 2;
    justify-content: space-between;
}

header .header_bottom .item {}

header .header_bottom .value {
    font-size: 40px;
    font-family: 'montserratbold';
    line-height: 49px;
}

header .header_bottom p {
    opacity: 0.7;
}

.header_animation-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 101%;
}

.header_animation-block .header_mask {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #090037;
    background: -moz-linear-gradient(left, #090037 0%, #030224 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #090037), color-stop(100%, #030224));
    background: -webkit-linear-gradient(left, #090037 0%, #030224 100%);
    background: -o-linear-gradient(left, #090037 0%, #030224 100%);
    background: -ms-linear-gradient(left, #090037 0%, #030224 100%);
    background: linear-gradient(left, #090037 0%, #030224 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#090037", endColorstr="#030224", GradientType=1);
    left: 0;
	
	background:url(../img/main-bg.jpg)  no-repeat center;
	background: url(../img/main-bg2.png) no-repeat center;
    background-size: cover;
}

.header_star {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}

.moonFlare {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.vertical-centered-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

#particles-background,
#particles-foreground {
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    -moz-transform: scale3d(0.5, 0.5, 1);
    -ms-transform: scale3d(0.5, 0.5, 1);
    -o-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
}

.header_animation-block .bg-mask.bg-dark {
    top: 75%;
    animation: bgdark2 11s linear infinite;
}

@keyframes bgdark2 {
    0% {
        top: 70%;
        left: 0;
        transform: scale(1)
    }
    25% {
        top: 75%;
        left: -15px;
        transform: scale(1.5) rotate(-5deg)
    }
    50% {
        top: 80%;
        left: 0;
        transform: scale(1.3)
    }
    75% {
        top: 75%;
        left: -18px;
        transform: scale(1)
    }
    100% {
        top: 67%;
        left: 0;
        transform: scale(1)
    }
}

.header_animation-block .bg-white-revarse {
    left: -44%;
    left: auto;
    right: 266px;
    bottom: -280px;
    animation: bgwhiterev 8s linear infinite;
}

@keyframes bgwhiterev {
    0% {
        right: 175px;
        bottom: -280px;
        transform: rotate(0), scale(1, -1)
    }
    25% {
        right: 175px;
        bottom: -291px;
        transform: rotate(10deg), scale(1, -1)
    }
    50% {
        right: 175px;
        bottom: -281px;
        transform: rotate(0), scale(1, -1)
    }
    75% {
        right: 175px;
        bottom: -291px;
        transform: rotate(-10deg), scale(1, -1)
    }
    100% {
        right: 175px;
        bottom: -281px;
        transform: rotate(0), scale(1, -1)
    }
}

.header_animation-block .astronaut-animation {
    position: absolute;
    bottom: 205px;
    z-index: 2;
}

.header_animation-block .moon-animation {
    position: absolute;
    top: 17px;
    left: 102px;
    line-height: 0;
    z-index: 2;
    width: 600px;
    height: 600px;
}

.header_animation-block .moon-animation #moon {
    width: 440px;
    animation: spin 80s linear infinite;
}

.header_animation-block .moon-animation .rocket img {
    height: 100px;
    transform: rotate(40deg);
}


/*ANIMATION*/


/*
.animated
*/

.animated {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}

.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}

.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s
}

.animated.fast {
    -webkit-animation-duration: .8s;
    animation-duration: .8s
}

.animated.faster {
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

@-webkit-keyframes bounce {
    0%,
    20%,
    53%,
    80%,
    to {
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translateZ(0);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translateZ(0)
    }
    40%,
    43% {
        opacity: 0.4;
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -30px, 0);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        opacity: 0.8;
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -15px, 0);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        opacity: 1;
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

@keyframes bounce {
    0%,
    20%,
    53%,
    80%,
    to {
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translateZ(0);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translateZ(0)
    }
    40%,
    43% {
        opacity: 0.4;
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -30px, 0);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        opacity: 0.8;
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -15px, 0);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        opacity: 1;
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

.bounce {
    -webkit-animation-name: bounce;
    -webkit-transform-origin: center bottom;
    animation-name: bounce;
    transform-origin: center bottom
}

@-webkit-keyframes bounceInLeft {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        -webkit-transform: translate3d(-3000px, 0, 0);
        opacity: 0;
        transform: translate3d(-3000px, 0, 0)
    }
    60% {
        -webkit-transform: translate3d(25px, 0, 0);
        opacity: 1;
        transform: translate3d(25px, 0, 0)
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes bounceInLeft {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        -webkit-transform: translate3d(-3000px, 0, 0);
        opacity: 0;
        transform: translate3d(-3000px, 0, 0)
    }
    60% {
        -webkit-transform: translate3d(25px, 0, 0);
        opacity: 1;
        transform: translate3d(25px, 0, 0)
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft
}

@media (prefers-reduced-motion),
(print) {
    .animated {
        -webkit-animation: unset!important;
        -webkit-transition: none!important;
        animation: unset!important;
        transition: none!important
    }
}

.js-animation {
    visibility: visible;
    -webkit-transform: translateY(20px) scale(0.9) !important;
    opacity: 0 !important;
    transform: translateY(20px) scale(0.9) !important;
    opacity: 0;
}

.start-animation {
    visibility: visible;
    -webkit-transform: translateY(0) scale(1) !important;
    opacity: 1 !important;
    transform: translateY(0) scale(1);
    opacity: 1;
    -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.08s, opacity 1.2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.08s;
    transition: transform 1.2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.08s, opacity 1.2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.08s;
}


/**/

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown
}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp
}

.header_social-networks {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 8
}

.header_social-networks ul {}

.header_social-networks .title {
    transform: rotate(180deg);
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    writing-mode: tb;
}

.header_social-networks li {
    margin-bottom: 30px;
}

.header_social-networks .img {
    text-align: center;
    width: 20px;
}

.header_social-networks .img:hover {
    opacity: 0.6
}

#slider-projects .projects_item .txt .projects_name {
    position: relative;
    right: -100%;
    opacity: 0;
}

#slider-projects .swiper-slide-active .projects_item .txt .projects_name {
    right: 0;
    opacity: 1;
    transition: right 0.4s linear, opacity 0.8s linear;
}

#slider-projects .projects_item .txt .projects_tag,
#slider-projects .projects_item .txt p {
    position: relative;
    opacity: 0;
}

#slider-projects .swiper-slide-active .projects_item .txt .projects_tag,
#slider-projects .projects_item .txt p {
    top: 0;
    opacity: 1;
    transition: opacity 0.9s linear;
}

.social-networks_mobile {
    display: none;
}

.accordion .title h3 {
    color: rgba(58, 56, 107, 0.7);
}

@media screen and (max-width: 1330px) {
    .header_animation-block .moon-animation {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1100px) {
    .container {
        width: calc(100% - 40px);
    }
    #nav-fix {
        top: 20px;
        padding: 0;
        box-shadow: none;
        background: transparent;
        position: absolute;
    }
    header {
        height: 100vh;
        min-height: auto;
    }
    header .header_txt {
        padding-top: 80px;
    }
    br {
        display: none !important
    }
    header .header_bottom {
        display: none
    }
    .header_animation-block .astronaut-animation {
        display: none
    }
    .fadeEl {
        opacity: 1 !important;
        -webkit-transform: translateY(0) !important;
        -moz-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        -o-transform: translateY(0) !important;
        transform: translateY(0) !important;
    }
    .js-animation {
        visibility: visible;
        -webkit-transform: translateY(0) scale(1) !important;
        opacity: 1 !important;
        transform: translateY(0) scale(1) !important;
    }
    #about .about {
        flex-wrap: wrap;
    }
    #about .about .about_item {
        margin-bottom: 40px;
        width: calc(50% - 10px);
        min-height: auto;
    }
    #about .about h3 br {
        display: none
    }
    #about .about .txt br {
        display: none
    }
    #services {
        margin-top: 60px
    }
    #services .astronaut-animation,
    #services .moon-animation {
        display: none
    }
    #services .services_item {
        width: calc((100% / 3) - 20px);
        margin-bottom: 20px;
        margin: 0 20px 20px 0;
    }
    #services .services {
        justify-content: center;
        margin-right: -20px;
    }
    #benefits {
        padding-top: 440px;
        padding-bottom: 100px;
    }
    #projects {
        margin-top: 25px;
    }
    .bg-mask.bg-bot {
        bottom: -26px;
    }
    #slider-projects .swiper-slide,
    #slider-projects .swiper-slide-active {
        width: 90%
    }
    #faq {
        margin-top: 10px;
        margin-bottom: 60px;
    }
    #contacts .contacts-block {
        width: 300px;
        padding: 30px;
    }
    #contacts .form-block {
        width: calc(100% - 300px);
        left: -1px;
        padding: 30px;
    }
    .header_animation-block {
        width: 100%

    }
    .header_animation-block .header_mask {
        clip-path: inherit;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    header .header_txt .txt h1 {
        color: #fff
    }
    h1,
    h2 {
        font-size: 35px
    }
    .header_animation-block .moon-animation {
        right: 30px;
        left: auto;
        transform: scale(0.6);
        transform-origin: center right;
    }
    @keyframes bgdark2 {
        0% {
            top: 20%;
            left: 0;
            transform: scale(1)
        }
        25% {
            top: 25%;
            left: -15px;
            transform: scale(1.5) rotate(-5deg)
        }
        50% {
            top: 30%;
            left: 0;
            transform: scale(1.4)
        }
        75% {
            top: 25%;
            left: -18px;
            transform: scale(1.2)
        }
        100% {
            top: 37%;
            left: 0;
            transform: scale(1)
        }
    }
    .main-title .tit-big {
        font-size: 110px;
    }
    #menu .menu li a {
        color: #fff !important
    }
}

.footer {
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1370px) and (max-height: 1030px) {
    header {
        height: 750px;
    }
    .fadeEl {
        opacity: 1 !important;
        -webkit-transform: translateY(0) !important;
        -moz-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        -o-transform: translateY(0) !important;
        transform: translateY(0) !important;
    }
    .js-animation {
        visibility: visible;
        -webkit-transform: translateY(0) scale(1) !important;
        opacity: 1 !important;
        transform: translateY(0) scale(1) !important;
    }
}

@media screen and (max-width: 1030px) and (max-height: 1370px) {
    header {
        height: 600px;
    }
    .header_animation-block .moon-animation {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 960px) {
    .header_animation-block .moon-animation {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 780px) {
    .logo .moon-ico {
        animation: spin 10s linear infinite;
    }
    .header_animation-block .moon-animation {
        display: none
    }
    header .header_txt .txt {
        text-align: center;
        width: 100%;
    }
    header .header_txt .txt .btn {
        margin: 0 auto
    }
    .accordion .title h3 {
        font-size: 15px;
        line-height: 19px;
    }
    #contacts .form-block h2 {
        font-size: 27px;
    }
    #contacts .contacts-block h2 {
        display: none;
    }
    #contacts .contacts-block {
        width: 250px;
    }
    #contacts .form-block {
        width: calc(100% - 250px);
    }
    #contacts .form-block .input-form {
        border: 2px solid #F1EFF2;
        height: 55px;
        padding: 0 15px;
    }
    .main-title {
        margin-bottom: 25px;
    }
    @keyframes bgwhite {
        0% {
            bottom: -10px;
            left: 0;
            transform: scale(1)
        }
        25% {
            bottom: -10px;
            left: 5px;
            transform: scale(1)
        }
        50% {
            bottom: -7px;
            left: 0;
            transform: scale(1)
        }
        75% {
            bottom: -14px;
            left: 8px;
            transform: scale(1)
        }
        100% {
            bottom: -10px;
            left: 0;
            transform: scale(1)
        }
    }
    @keyframes bgwhiterev {
        0% {
            right: 1px;
            bottom: -60px;
            transform: rotate(0), scale(1, -1)
        }
        25% {
            right: 1px;
            bottom: -81px;
            transform: rotate(10deg), scale(1, -1)
        }
        50% {
            right: 1px;
            bottom: -71px;
            transform: rotate(0), scale(1, -1)
        }
        75% {
            right: 1px;
            bottom: -81px;
            transform: rotate(-10deg), scale(1, -1)
        }
        100% {
            right: 1px;
            bottom: -61px;
            transform: rotate(0), scale(1, -1)
        }
    }
    #about {
        padding-top: 40px;
    }
    .main-title p {
        font-size: 14px;
        line-height: 22px;
    }
    #slider-projects .swiper-button-next,
    #slider-projects .swiper-button-prev {
        display: none;
    }
    #slider-projects .projects_item .img {
        width: 100%
    }
    #slider-projects .projects_item .txt {
        width: 100%;
        padding: 20px
    }
    #slider-projects .projects_item {
        display: block
    }
    .faq-accordion .item {
        padding: 0 20px;
    }
}

@media screen and (max-width: 580px) {
    .container {
        width: calc(100% - 20px);
    }
    #nav-fix {
        top: 10px;
    }
    .header_social-networks {
        display: none
    }
    header .header_txt .txt {
        width: 90%;
        margin: 0 auto;
    }
    h1,
    h2 {
        font-size: 27px;
    }
    header .header_txt .txt h1 {
        line-height: 39px;
    }
    p {
        font-size: 14px;
    }
    a.btn,
    .btn {
        width: 100%
    }
    #about .about .about_item {
        width: 100%;
    }
    #services .services_item {
        width: 100%;
        margin: 0 20px 20px 0;
        display: flex;
        align-items: center;
        box-shadow: none;
        padding: 0;
        background: none
    }
    #services .services_item .ico {
        margin: 0 10px 0 0
    }
    #services .services_item h3 {
        margin-top: 0;
    }
    #services {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .main-title h2 {
        font-size: 23px;
    }
    .main-title .tit-big {
        display: none;
    }
    #benefits {
        padding-top: 90px;
        padding-bottom: 40px
    }
    #benefits .benefits {
        justify-content: flex-start;
    }
    .bg-mask.bg-bot {
        bottom: 0;
    }
    #projects {
        margin-top: 10px;
    }
    .accordion .title h3 {
        font-size: 14px;
        line-height: 17px;
    }
    #contacts .contacts {
        display: block;
    }
    #contacts .form-block {
        width: 100%;
        left: 0;
    }
    #contacts .contacts {
        background-color: transparent;
        box-shadow: none;
    }
    #faq {
        margin-bottom: 30px;
    }
    #contacts .contacts-block {
        width: 100%;
    }
    #contacts .contacts-block .main-title {
        margin-bottom: 0;
    }
    .social-networks a {
        color: rgba(255, 255, 255, 1);
    }
    footer {
        padding-top: 580px;
    }
    #ps .img {
        margin: 0 10px 20px;
        width: calc((100% / 3) - 20px);
    }
    #ps .img img {
        width: 90%;
    }
    #benefits .benefits_item h3 {
        opacity: 0.8;
        width: calc(100% - 90px);
    }
}

@media screen and (max-width: 400px) {
    #about .about .tit-price {
        opacity: 0.15;
        font-size: 100px;
        top: -90px;
    }
    #about .about {
        padding-top: 10px;
    }
    .main-title h2 {
        font-size: 21px;
    }
    #services .services_item h3 {
        margin-top: 0;
        text-align: left;
    }
    #benefits {
        padding-top: 70px;
        padding-bottom: 40px;
    }
    #benefits .benefits_item {
        display: flex;
        align-items: center;
        margin: 0 10px 20px;
    }
    .footer .logo {
        display: none
    }
    .footer .terms-use {
        display: block;
        text-align: center;
        width: 100%;
    }
    #contacts .form-block h2 {
        font-size: 21px;
    }
}
.bg-mask.bg-top {
    top: -2px;
}